{% extends "sablon.html" %} {% block icerik %}
<div style="color: white;">

<!-- Container (Portfolio Section) -->
<div class="container-fluid text-center bg-grey">
 <br> <h2>En Çok İzlenenler</h2><br>
  <div class="container">
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/static/img/o.jpg" width="400" height="500">
       <br>
        <p><strong>It</strong></p>
        <a class="btn btn-primary" style="background-color: rgba(19, 18, 18, 0.671);" href="/yorum" role="button">İzle</a>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/static/img/edeki - Kopya.jpg"  width="400" height="500">
        
        <br>
        <p><strong>Evdeki Düşman</strong></p>
        <a class="btn btn-primary" style="background-color: rgba(19, 18, 18, 0.671);" href="/yorum" role="button">İzle</a>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/static/img/endgame - Kopya.jpg"  width="400" height="500">
        <br>
        <p><strong>Yenilmezler: Son Savaş</strong></p>
        <a class="btn btn-primary" style="background-color: rgba(19, 18, 18, 0.671);" href="/yorum" role="button">İzle</a>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/static/img/fast and furious - Kopya.jpg" width="400" height="500">
       <br>
        <p><strong>Hızlı Ve Öfkeli</strong></p>
        <a class="btn btn-primary" style="background-color: rgba(19, 18, 18, 0.671);" href="/yorum" role="button">İzle</a>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/static/img/hayvan mezarlığı - Kopya.jpg" width="400" height="500">
       <br>
        <p><strong>Hayvan Mezarlığı</strong></p>
        <a class="btn btn-primary" style="background-color: rgba(19, 18, 18, 0.671);" href="/yorum" role="button">İzle</a>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/static/img/lion king - Kopya.jpg" width="400" height="500">
       <br>
        <p><strong>Aslan Kral</strong></p>
        <a class="btn btn-primary" style="background-color: rgba(19, 18, 18, 0.671);" href="/yorum" role="button">İzle</a>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/static/img/Hababam-sinifi - Kopya.jpg" width="400" height="500">
       <br>
        <p><strong>Hababam Sınıfı</strong></p>
        <a class="btn btn-primary" style="background-color: rgba(19, 18, 18, 0.671);" href="/yorum" role="button">İzle</a>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/static/img/umut isigim.jpg" width="400" height="500">
       <br>
        <p><strong>Umut Işığım</strong></p>
        <a class="btn btn-primary" style="background-color: rgba(19, 18, 18, 0.671);" href="/yorum" role="button">İzle</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
